/*================
    Reset
==================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/*================
      Variables
====================*/
/*===============
    General
================*/
body {
  background-color: #1BA3E1;
  font-family: "Nunito", "Helvetica Neue", sans-serif;
  color: black; }

a {
  text-decoration: none;
  color: #FF4114; }

.wrapper {
  max-width: 90%;
  margin: 0 auto; }

section {
  margin: 20px; }
  section h3 {
    font-size: 150%;
    margin: 15px; }

form {
  text-align: center; }

input {
  display: block;
  width: 250px;
  padding: 12px;
  font-family: "Nunito", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 10px auto; }
  input:focus {
    border: inset 4px black; }

input[type="submit"] {
  font-size: 20px;
  width: 200px;
  padding: 15px;
  background-color: #FFBD14; }

label {
  display: inline;
  margin-bottom: 10px;
  font-size: 120%;
  font-weight: bolder; }

.left {
  float: left; }

.right {
  float: right; }

.yellow_link {
  color: #FFBD14; }

header {
  background-image: url("../img/banner-background.jpg");
  min-height: 150px; }
  header:after {
    content: "";
    display: table;
    clear: both; }

.logo {
  width: 30%;
  float: left;
  margin-left: 10%; }

.navigation {
  width: 60%;
  float: left; }
  .navigation li {
    padding: 0;
    border-radius: 10px;
    margin: 40px 25px 0 0;
    display: inline-block; }
  .navigation a {
    display: block;
    padding: 25px 30px;
    font-size: 18px;
    font-weight: 700;
    background-color: #FFBD14;
    border-radius: 10px; }
    .navigation a:hover {
      background-color: #e0a100; }
    .navigation a.current {
      background-color: #fab300;
      border: inset 6px #FF4114; }

#logout {
  background-color: #FF4114;
  cursor: pointer;
  width: auto;
  font-size: 14px; }

footer {
  clear: both;
  border-top: 3px solid #FF4114;
  padding: 20px 0 50px 0; }
  footer h3 {
    text-align: center; }

.contact {
  margin-top: 10px; }
  .contact li {
    display: inline-block;
    width: 23%; }

.homepage {
  margin-top: 20px; }
  .homepage .homepage_text {
    max-width: 50%;
    line-height: 1.5;
    text-align: center;
    font-size: 20px; }
  .homepage h2 {
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline; }
  .homepage::after {
    content: "";
    display: table;
    clear: both; }

.section_link {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 120%; }

.photo_container {
  max-width: 45%; }
  .photo_container img {
    max-width: 100%; }

.cta {
  display: inline-block;
  margin: 10px 25px;
  font-size: 20px;
  color: #FFBD14;
  background-color: #FF4114;
  padding: 15px;
  border-radius: 10px; }
  .cta:hover {
    background-color: #fa3000; }

.appel_creation {
  text-align: center; }

.bibliotheque {
  padding: 0 5%; }

.livre_container {
  width: 49.9%;
  float: left;
  position: relative;
  border-bottom: 1px solid darkgrey;
  padding: 20px 0; }
  .livre_container:after {
    content: "";
    display: table;
    clear: both; }
  .livre_container:nth-child(even) {
    border-right: 1px solid darkgrey; }
  .livre_container .imgLivre {
    float: left;
    margin-left: 5px; }
  .livre_container .livre_desc {
    display: inline;
    margin-left: 25px; }
  .livre_container .titre {
    font-size: 120%;
    font-weight: bold; }
  .livre_container .auteur {
    font-size: 80%;
    margin-left: 5%; }
  .livre_container .reserver_btn {
    color: #FF4114;
    padding: 20px;
    position: absolute;
    bottom: 2%;
    left: 30%;
    background-color: #FFBD14;
    border-radius: 10px; }
    .livre_container .reserver_btn:hover {
      background-color: #e0a100; }
  .livre_container .supprimer_btn {
    background-color: red;
    width: 100px;
    font-size: 14px; }

.filtres {
  border: 1px solid black; }
  .filtres input {
    display: inline-block;
    width: auto; }
  .filtres .radio_form {
    max-width: 25%; }
    .filtres .radio_form label {
      display: block;
      text-align: left; }

.offre_container {
  display: inline-block;
  width: 30%;
  margin-right: 2%;
  border: 2px solid #FF4114; }

.liste_emprunts {
  border-collapse: collapse;
  border: 1px solid black; }
  .liste_emprunts td, .liste_emprunts th {
    padding: 10px;
    border: 1px solid black; }
  .liste_emprunts .emprunt_retour {
    padding: 0;
    font-size: 16px;
    width: 120px; }

/*# sourceMappingURL=styles.css.map */
