header{
    background-image: url('../img/banner-background.jpg');
    min-height: 150px;

    &:after{
        content:"";
        display: table;
        clear: both;
    }
}

.logo{
    width: 30%;
    float:left;
    margin-left: 10%;
}

.navigation{
    width: 60%;
    float: left;

    li {
        padding: 0 ;
        border-radius: 10px;
        margin: 40px 25px 0 0;
        display: inline-block;
    }
    a {
        display: block;
        padding: 25px 30px;
        font-size: 18px;
        font-weight: 700;
        background-color: $turquoise;
        border-radius: 10px;
        &:hover{
            background-color: darken($turquoise, 10%);
        }
        &.current{
            background-color: darken($turquoise, 5%);
            border: inset 6px $red;
        }
    }
}
