.homepage{
    margin-top: 20px;
    .homepage_text {
        max-width: 50%;
        line-height: 1.5;
        text-align: center;
        font-size: 20px;
    }
    h2{
        font-size: 25px;
        font-weight: 700;
        text-decoration: underline;
    }
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.section_link {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 120%;
}

.photo_container {
    max-width: 45%;
    img{
        max-width: 100%;
    }
}

.cta{
    display: inline-block;
    margin: 10px 25px;
    font-size: 20px;
    color: $yellow;
    background-color: $red;
    padding: 15px;
    border-radius:10px;
    &:hover {
        background-color: darken($red, 5%);
    }
}
